@import'comm.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: radial-gradient(circle, rgba(33,4,48,1) 0%, rgba(0,0,0,1) 100%);


}
header{  
    height: 800px;
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav .left a{
    color: rgb(192, 192, 192);
    text-decoration: none;
}
header nav .left a:hover{
    color: white;
    text-shadow:0px 0px 50px 10px white,
    0px 0px 0px 20px white,
    0px 0px 0px 30px white,
    0px 0px 0px 40px white,
    0px 0px 0px 50px white,
    0px 0px 0px 60px white,
    0px 0px 0px 70px white;
    backdrop-filter: blur(4px);


    text-decoration: none;
}
header nav {
    padding: 2rem ;
}
header nav .branding{
    margin-right: 10rem;
    color: white;
    text-transform: uppercase;
}
header nav .branding img{
height: 20px;
width: 80px;
border-radius: 0px;

}
header nav .left a{
    margin-right: 2rem;
}
.btn{  
    color: rgb(255, 255, 255);
    padding: 0.4rem 1.5rem;
    font-size: 0.8rem;
    font-weight: 300;
    height: 40px;
    margin-left: 103px;
    outline: none;
    cursor:pointer;
    background: linear-gradient(92.28deg, #5420CA 55.92%, #d234e7 94.13%);
    border: none;
    clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 60%, 88% 100%, 20% 100%, 0 100%, 0 45%);
    background-size: 100% ;
    background-repeat: no-repeat;
    

}

.hero .left{
    width: 50%;
    margin-top: 80px;
    margin-right: 70px;
    padding: 2rem ;
    color: white;
}
.left h1{
    font-size: 35px;
    margin-top: 30px;
}

.hero .left p{
    font-size: 18px;
    margin-top: 30px;
    font-weight: 300;
}
.hero .left span{
    text-transform: uppercase;
    background: linear-gradient(90deg, #5420CA 55.92%, #d234e7 );
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .rect input{
    margin-top: 30px; 
    padding: 15px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    font-size: 16px;
    background: black;
    outline: none;
    color: #fff;
    clip-path: polygon(9% 0, 100% 0, 100% 23%, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 43%);
    resize: none;
    width: 350px;
    height: 42px;

}
::-webkit-input-placeholder{
    font-size: 0.8rem;
    font-weight: 300;
    color: white;

}
.container-1{
    padding-right: 125px;
    margin-top: 30px;
    margin-right: -25px;
    clip-path: polygon(10% 0, 100% 0, 100% 23%, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 40%);
    background: white;
    width: 308px;
    height: 44px;
    background: linear-gradient(92.28deg, #5420CA 55.92%, #d234e7 94.13%);

}

 .btn1{  
    color: rgb(255, 255, 255);
    padding: 0.3rem 3rem;
    padding-left: 50px;
    font-size: 0.8rem;
    height: 44px;
    font-weight:500;
    margin-top: 30px; 
    outline: none;
    cursor:pointer;
    border: none;
    background: linear-gradient(92.28deg, #5420CA 55.92%, #d234e7 94.13%);
    clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 60%, 88% 100%, 20% 100%, 0 100%, 0 45%);
    background-size: 100% ;
    background-repeat: no-repeat;
    
}
.hero .shape img{
    width: 350px;
    height: 500px;
    margin-right:15px;
    top: 150px;
    bottom: 0;
    right:250;

}
.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 11;

}
.hamberger img{
    width: 30px;
}
.mobile{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: radial-gradient(circle, rgba(33,4,48,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all .3s ease-out;

}
.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.times img{
    width: 25px;
}

.mobile ul{
    list-style-type: none;
    text-align: center;

}
.mobile ul li a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;

}
@media (min-width:1100px){
    .hamberger{
        display: none;
    }
}

@media (max-width:1049px){
    header nav .left a{
       display: none;
    }

    header nav .branding{
        margin-right: 25rem;
        margin-top: 10px;
        color: white;
        text-transform: uppercase;
    }
    .btn{  
       display: none;
        
    }
    
    .btn1{  
        color: rgb(255, 255, 255);
        padding: 0.3rem 5rem;
        padding-left: 50px;
        font-size: 1rem;
        height: 44px;
        font-weight:500;
        margin-top: 30px; 
        outline: none;
        cursor:pointer;
        border: none;
        background: linear-gradient(92.28deg, #5420CA 55.92%, #d234e7 94.13%);
        clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 60%, 88% 100%, 20% 100%, 0 100%, 0 45%);
        background-size: 100% ;
        background-repeat: no-repeat;
        
    }
    .hero .shape img {
        width: 350px;
        height: 500px;
        top: 150px;
        bottom: 0;
        right: 250;
    }
   
   
    .mobile ul{
        list-style-type: none;
        text-align: center;
        margin-top: 40px;
        
    
    }
    .mobile ul li a{
        color:white;
        margin-top: 50px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 100;
       
    
    }
    .mobile ul li{
        margin-top: 35px;
        
    }
    

}

@media (max-width:686px){
    header nav .left a{
        display: none;
    }
    .btn{  
        display: none;
       
    
    }
    header nav .branding{
        margin-right: 4rem;
        margin-top: 10px;
        color: white;
        text-transform: uppercase;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
    }
    header{  
        background: rgb(0, 0, 0);
        height: 950px;
    }
    .hero .left {
        width: 100%;
        margin-left: 50px;
        margin-top: 20px;
        padding: 1rem;
        color: white;
    }
    .hero .left h1{
        font-size: 25px;
        margin-top: 10px;
    
    }
    form .conatiner-3{
        max-width: 30%;
    }
    .hero .shape img {
        width: 330px;
        height: 500px;
        top: 150px;
        bottom: 0;
        right: 250;
    }
    .hero .rect input {
        margin-top: 30px;
        padding: 15px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 1px;
        font-size: 12px;
        background: black;
        outline: none;
        color: #fff;
        clip-path: polygon(10% 0, 100% 0, 100% 23%, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 43%);
        resize: none;
        width: 200px;
        height: 32px;
    }
    .container-1 {
        padding-right: 125px;
        margin-top: 30px;
        margin-right: -28px;
        clip-path: polygon(10% 0, 100% 0, 100% 23%, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 40%);
        background: white;
        width: 206px;
        height: 36px;
        background: linear-gradient(92.28deg, #5420CA 55.92%, #d234e7 94.13%);
    }

    .hero .left p{
        font-size: 15px;
        margin-top: 30px;
        font-weight: 300;
    }
    ::-webkit-input-placeholder{
        font-size: 0.7rem;
        font-weight: 300;
        color: white;
    
    }

 .btn1{  
    color: rgb(255, 255, 255);
    padding: 0.2rem 2rem;
    padding-left: 40px;
    font-size: 12px;
    height: 36px;
    font-weight: lighter;
    margin-top: 30px; 
    outline: none;
    cursor:pointer;
    border: none;
    background: linear-gradient(92.28deg, #5420CA 55.92%, #d234e7 94.13%);
    clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 60%, 88% 100%, 20% 100%, 0 100%, 0 45%);
    background-size: 100% ;
    background-repeat: no-repeat;
    
}
.hamberger img{
    width: 30px;
    
}
.times{
    width: 30px;

}
.mobile{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: radial-gradient(circle, rgba(33,4,48,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all .3s ease-out;

}
.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.mobile ul{
    list-style-type: none;
    text-align: center;
    margin-top: 40px;
    


}
.mobile ul li a{
    color:white;
    margin-top: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
   

}
.mobile ul li{
    margin-top: 35px;
    
}

}


